<?xml version="1.0"?>
<!--
/**
 * Copyright © Voicyou Softwares 2017. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="customer_save_after">
      <observer name="frontend_customer_register_voicyou_avatar" instance="Voicyou\Avatar\Observer\CustomerCreation"/>
  </event>
  <event name="customer_address_save_after">
    <observer name="frontend_customer_edit_voicyou_avatar" instance="Voicyou\Avatar\Observer\CustomerCreation" />
</event>
</config>
